<template>
  <div class="corn">
    <div class="left-container">
      <div class="left-container__top-wrapper">
        <div class="top-wrapper__item">
              <div class="top-wrapper__img">
                <img src="../assets/grf.png" alt="">
              </div>
              <div class="top-wrapper__text-block">
                <div class="top-wrapper__title">
                  458
                </div>
                <div class="top-wrapper__sub-title">
                  Orders
                </div>
              </div>
            </div>
        <div class="top-wrapper__item">
              <div class="top-wrapper__img">
                <img src="../assets/graf.png" alt="">
              </div>
              <div class="top-wrapper__text-block">
                <div class="top-wrapper__title">
                  $1 587
                </div>
                <div class="top-wrapper__sub-title">
                  Sales
                </div>
              </div>
            </div>
        <div class="top-wrapper__item">
              <div class="top-wrapper__img">
                <img src="../assets/graf3.png" alt="">
              </div>
              <div class="top-wrapper__text-block">
                <div class="top-wrapper__title">
                  12 023
                </div>
                <div class="top-wrapper__sub-title">
                  Users
                </div>
              </div>
            </div>
      </div>
      <div class="left-container__center-wrapper">
        <div class="center-wrapper">
          <div class="center-wrapper__top">
            <div class="top__left">
              <span>Earnings</span>
            </div>
            <div class="top__right">
              <a href="#">Today</a>
              <a href="#" class="top__right_active_true">7 days</a>
              <a href="#">14 days</a>
              <a href="#">Last month</a>
            </div>
          </div>
          <div class="center-wrapper__bottom">
            <div class="bottom__left">
              <line-chart class="line-chat-block"></line-chart>
            </div>
            <div class="bottom__right">
              <div class="bottom__right-top">
                <div class="bottom__right-col">
                  <span>Incomes</span>
                  <p>$5 587</p>
                </div>
                <div class="bottom__right-col">
                  <span class="before-red">Expences</span>
                  <p>$1 956</p>
                </div>
              </div>
              <div class="bottom__right-bottom">
                <div class="bottom__right-col bottom__right-col_bottom_none">
                  <span class="before-yellow">Total</span>
                  <p>$3 631</p>
                </div>
                <div class="bottom__right-col bottom__right-col_bottom_none">
                  <span class="before-none">available</span>
                  <p>$10 956</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="left-container__bottom-wrapper">
        <div class="bottom-wrapper">
          <div class="bottom-wrapper__left">
            <div class="bottom-wrapper__title">
              <span>Best Selling</span>
              <img src="../assets/reload.jpg" alt="">
            </div>
            <div class="bottom-wrapper__grafic">
              <img src="../assets/circle-graf.png" alt="">
            </div>
            <div class="bottom-wrapper__table">
              <table>
                <tr class="border-bottom">
                  <th>Category</th>
                  <th>total sales</th>
                </tr>
                <tr
                  v-for="item in listTable"
                  :key="item.title"
                >
                  <td>
                    <font-awesome-icon :icon="item.nameIcon" :class="item.classIcon"/>
                    <span>{{item.title}}</span>
                  </td>
                  <td>{{item.price}}</td>
                </tr>
              </table>
            </div>
          </div>
          <div class="bottom-wrapper__right">
            <div class="bottom-wrapper__right-title">
              <span>Top Products Sales</span>
              <div class="select">
                <select name="select">
                  <option value="14 days">14 days</option>
                  <option value="7 days">7 days</option>
                  <option value="1 day">One day</option>
                </select>
              </div>
            </div>
            <div class="bottom-wrapper__right-table">
              <table>
                <tr>
                  <th>Product</th>
                  <th>Price</th>
                  <th>QTY</th>
                  <th>Total Sales</th>
                </tr>
                <tr
                  v-for="temp of productTable"
                  :key="temp.title"
                >
                  <td
                    :class="temp.className"
                  >
                    <img :src="temp.srcImg" alt="">
                    <span>
                      {{temp.title}}
                    </span>
                  </td>
                  <td>
                    <span>
                      {{temp.price}}
                    </span>
                  </td>
                  <td>
                    <span>
                      {{temp.qty}}
                    </span>
                  </td>
                  <td>
                    <span>
                      {{temp.total}}
                    </span>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="right-container">
      <div class="right-container__title">
        Activity
      </div>
      <div class="right-container__block">
        <div class="block">
          <div class="block__top">
            <div class="block__logo">
              <img src="../assets/buy.png" alt="">
            </div>
            <div class="block__title">New Sale</div>
            <div class="block__data">Now</div>
          </div>
          <div class="block__content">
            <div class="block__line">
              <div class="line"></div>
            </div>
            <div class="block__text">
              <div class="block__img">
                <img src="../assets/tov5.png" alt="">
              </div>
              <div class="block__right">
                <div class="right__title">
                  Sweatshirt animal…
                </div>
                <div class="right__price">
                  Total: $115
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="block">
          <div class="block__top">
            <div class="block__logo">
              <img src="../assets/star.png" alt="">
            </div>
            <div class="block__title">New Review</div>
            <div class="block__data">5 min</div>
          </div>
          <div class="block__content">
            <div class="block__line">
              <div class="line"></div>
            </div>
            <div class="block__text block__text_align_false">
              <div class="block__text-content">
                <div class="text-content__title">
                  Nicolas Dowson
                </div>
                <div class="text-content__star">
                  <img src="../assets/gold-star.png" alt="">
                  <img src="../assets/gold-star.png" alt="">
                  <img src="../assets/gold-star.png" alt="">
                  <img src="../assets/gold-star.png" alt="">
                  <img src="../assets/gold-star-no-bg.png" alt="">
                </div>
                <div class="text-content__sub-title">
                  Thank you for this awesome product. Delivery is very fast. Thank you so much.
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="block">
          <div class="block__top">
            <div class="block__logo">
              <img src="../assets/cardio.png" alt="">
            </div>
            <div class="block__title">New Report</div>
            <div class="block__data">23 min</div>
          </div>
          <div class="block__content">
            <div class="block__line">
              <div class="line"></div>
            </div>
            <div class="block__text block__text_align_false">
              <div class="text__img">
                <img src="../assets/graf-b.png" alt="">
              </div>
            </div>
          </div>
        </div>
        <div class="block">
          <div class="block__top">
            <div class="block__logo">
              <img src="../assets/comment.png" alt="">
            </div>
            <div class="block__title">New Message</div>
            <div class="block__data">1 hour</div>
          </div>
          <div class="block__content">
            <div class="block__line">
              <div class="line"></div>
            </div>
            <div class="block__text block__text_align_false">
              <div class="block__text-content">
                <div class="text-content__title">
                  Robert Simpson
                </div>
                <div class="text-content__sub-title text-content__sub-title_read_true">
                 <div class="text-content__sub-title_overflov_true">Hi! Don't forget about our meeting on this week
                   (Saturday at 4 p.m). Thank you. It will be...
                 </div>
                  <a href="#">Read more</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="block">
          <div class="block__top">
            <div class="block__logo">
              <img src="../assets/buy.png" alt="">
            </div>
            <div class="block__title">New Sale</div>
            <div class="block__data">Now</div>
          </div>
          <div class="block__content">
            <div class="block__line">
              <div class="line"></div>
            </div>
            <div class="block__text">
              <div class="block__img">
                <img src="../assets/tov5.png" alt="">
              </div>
              <div class="block__right">
                <div class="right__title">
                  Sweatshirt animal…
                </div>
                <div class="right__price">
                  Total: $115
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="block">
          <div class="block__top">
            <div class="block__logo">
              <img src="../assets/star.png" alt="">
            </div>
            <div class="block__title">New Review</div>
            <div class="block__data">5 min</div>
          </div>
          <div class="block__content">
            <div class="block__line">
              <div class="line"></div>
            </div>
            <div class="block__text block__text_align_false">
              <div class="block__text-content">
                <div class="text-content__title">
                  Nicolas Dowson
                </div>
                <div class="text-content__star">
                  <img src="../assets/gold-star.png" alt="">
                  <img src="../assets/gold-star.png" alt="">
                  <img src="../assets/gold-star.png" alt="">
                  <img src="../assets/gold-star.png" alt="">
                  <img src="../assets/gold-star-no-bg.png" alt="">
                </div>
                <div class="text-content__sub-title">
                  Thank you for this awesome product. Delivery is very fast. Thank you so much.
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="block">
          <div class="block__top">
            <div class="block__logo">
              <img src="../assets/buy.png" alt="">
            </div>
            <div class="block__title">New Sale</div>
            <div class="block__data">Now</div>
          </div>
          <div class="block__content">
            <div class="block__line">
              <div class="line"></div>
            </div>
            <div class="block__text">
              <div class="block__img">
                <img src="../assets/tov5.png" alt="">
              </div>
              <div class="block__right">
                <div class="right__title">
                  Sweatshirt animal…
                </div>
                <div class="right__price">
                  Total: $115
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data: () => ({
    listTable: [
      {
        title: 'Women bags',
        nameIcon: 'circle',
        price: '$5 684',
        classIcon: 'icon-red'
      },
      {
        title: 'Women shoes',
        nameIcon: 'circle',
        price: '$4 958',
        classIcon: 'icon-yellow'
      },
      {
        title: 'Accessories',
        nameIcon: 'circle',
        price: '$3 404',
        classIcon: 'icon-blue'
      },
      {
        title: 'Other sales',
        nameIcon: 'circle',
        price: '$1 215',
        classIcon: 'icon-siri'
      }
    ],
    productTable: [
      {
        srcImg: './static/tov.png',
        title: 'Leather shoes with buckles',
        price: '$85',
        qty: '95',
        total: '$8 075',
        className: ''
      },
      {
        srcImg: './static/tov2.png',
        title: 'Black backpack unisex',
        price: '$76',
        qty: '64',
        total: '$8 075',
        className: 'padding-bot'
      },
      {
        srcImg: './static/tov3.png',
        title: 'Sweatshirt animal pattern',
        price: '$115',
        qty: '58',
        total: '$8 075',
        className: 'padding-bot'
      },
      {
        srcImg: './static/tov4.png',
        title: 'Glasses with frame by turtle',
        price: '$85',
        qty: '95',
        total: '$8 075',
        className: ''
      }
    ]
  })
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.left-container {
  max-width: 825px;
  margin-right: 15px;
  //Стилі для трьох блоків з невеликими графіками
  &__top-wrapper {
    max-width: 825px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    .top-wrapper {
      &__item {
        padding: 18px 20px;
        border-radius: 5px;
        background-color: #ffffff;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
        width: 255px;
        display: flex;
        align-items: center;
      }
      &__text-block {
        padding-left: 33px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }
      &__title {
        font-family: 'Roboto';
        font-size: 22px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.18;
        letter-spacing: normal;
        text-align: left;
        color: #000000;
        margin-bottom: 6px;
      }
      &__sub-title {
        font-family: 'Roboto';
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.43;
        letter-spacing: normal;
        text-align: left;
        color: #949494;
      }
    }
  }
  //Стилі для блоку з велими графіком
  &__center-wrapper {
    max-width: 825px;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
    padding: 30px;
    margin-bottom: 30px;
    //Стилі для контенту блоку
    .center-wrapper {
      &__top {
        display: flex;
        margin-bottom: 46px;
        .top__left {
          flex-grow: 2;
          span {
            font-family: 'Roboto';
            font-size: 18px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.11;
            letter-spacing: normal;
            text-align: left;
            color: #000000;
          }
        }
        .top__right {
          a {
            text-decoration: none;
            font-family: 'Roboto';
            font-size: 14px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: left;
            color: #949494;
            padding: 4px 12px 4px 12px;
          }
          &_active_true {
            color: #ffffff !important;
            border-radius: 2px;
            background-image: linear-gradient(to right, #e22a6f, #fe6666);
          }
        }
      }
      &__bottom {
        display: flex;
        .bottom__left {
          .canvas {
            width: 100%;
            height: 100%;
          }
        }
        .bottom__right {
          padding-left: 20px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          width: 100%;
          &-top {
            display: flex;
            height: 50%;
          }
          &-bottom {
            display: flex;
            height: 50%;
          }
          &-col {
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 30px 22px;
            border-right: 1px solid #E6E6E6;
            border-bottom: 1px solid #E6E6E6;
            &:last-child {
              border-right: none;
            }
            &_bottom_none {
              border-bottom: none;
            }
            span {
              color: #9F9F9F;
              text-transform: uppercase;
              text-align: center;
              font-family: 'Roboto';
              font-size: 10px;
              font-weight: 500;
              font-style: normal;
              font-stretch: normal;
              line-height: 2;
              letter-spacing: 0.5px;
              position: relative;
              &::before {
                content: '';
                width: 12px;
                height: 12px;
                border: solid 2px #50bd35;
                border-radius: 50%;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: -4px;
              }
              &.before-red {
                &::before {
                  border: solid 2px #eb3d6c;
                }
              }
              &.before-yellow {
                &::before {
                  border: solid 2px #f5a623;
                }
              }
              &.before-none {
                &::before {
                  display: none;
                }
              }
            }
            p {
              margin-top: 6px;
              font-family: 'Roboto';
              font-size: 18px;
              font-weight: bold;
              font-style: normal;
              font-stretch: normal;
              line-height: 1.11;
              letter-spacing: normal;
              text-align: left;
              color: #000000;
            }
          }
        }
      }
    }
    .line-chat-block {
      height: 290px;
    }
  }
  //Стилі для блоків у вигляді таблиці
  &__bottom-wrapper {
    max-width: 825px;
    margin-bottom: 40px;
    .bottom-wrapper {
      display: flex;
      &__left {
        border-radius: 5px;
        background-color: #ffffff;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
        margin-right: 15px;
        min-width: 255px;
        padding: 30px 30px 28px 30px;
      }
      &__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 25px;
        span {
          font-family: 'Roboto';
          font-size: 18px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.11;
          letter-spacing: normal;
          text-align: left;
          color: #000000;
        }
        img {
          cursor: pointer;
          width: 12px;
          height: 11px;
        }
      }
      &__grafic {
        text-align: center;
        margin-bottom: 25px;
      }
      //Стилі для таблиці
      &__table {
        table {
          width: 100%;
          tr.border-bottom {
            border-bottom: 1px solid #B1B1B1;
          }
          th {
            font-family: 'Roboto';
            font-size: 10px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: 2;
            letter-spacing: 0.5px;
            color: #B1B1B1;
            width: 60%;
            text-align: left;
            text-transform: uppercase;
            padding-bottom: 4px;
            &:last-child {
              text-align: right;
              width: 40%;
            }
          }
          tr {
            td {
              font-family: 'Roboto';
              font-size: 14px;
              font-weight: normal;
              font-style: normal;
              font-stretch: normal;
              line-height: 1.57;
              letter-spacing: normal;
              text-align: left;
              color: #000000;
              padding-top: 9px;
              span {
                padding-left: 10px;
              }
              &:last-child {
                text-align: right;
                color: #e22a6f;
              }
              & .icon-red {
                color: white;
                border: solid 2px #e22a6f;
                border-radius: 50%;
              }
              & .icon-yellow {
                color: white;
                border: solid 2px #ffbb41;
                border-radius: 50%;
              }
              & .icon-blue {
                color: white;
                border: solid 2px #678cf9;
                border-radius: 50%;
              }
              & .icon-siri {
                color: white;
                border: solid 2px #e7e9ec;
                border-radius: 50%;
              }
            }
            &:nth-child(2) {
              td {
                padding-top: 19px;
              }
            }
          }
        }
      }
      //Правий блок з таблицею
      &__right {
        width: 100%;
        margin-left: 15px;
        border-radius: 5px;
        background-color: #ffffff;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
        padding: 30px;
        &-title {
          display: flex;
          justify-content: space-between;
          font-family: 'Roboto';
          font-size: 18px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.11;
          letter-spacing: normal;
          text-align: left;
          color: #000000;
          margin-bottom: 35px;
          select {
            appearance: none;
            border: none;
            padding: 4px 28px 4px 12px;
            font-family: 'Roboto';
            font-size: 14px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: left;
            color: #ffffff;
            background-image: linear-gradient(to right, #e22a6f, #fe6666);
            border-radius: 2px;
          }
          .select {
            position: relative;
            &::after {
              content: '';
              background-image: url("../assets/down.png");
              width: 8px;
              height: 8px;
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              right: 10px;
              pointer-events: none;
              box-sizing: border-box;
            }
          }
        }
        &-table {
          table {
            width: 100%;
            tr:first-child {
              border-bottom: 1px solid #E6E6E6;
              th {
                font-family: 'Roboto';
                font-size: 10px;
                font-weight: 500;
                font-style: normal;
                font-stretch: normal;
                line-height: 2;
                letter-spacing: 0.5px;
                text-align: center;
                color: #919191;
                padding-bottom: 4px;
              }
              th:first-child {
                width: 274px;
                text-align: left;
              }
            }
            tr {
              border-bottom: 1px solid #E6E6E6;
              td {
                padding-top: 10px;
                text-align: center;
                &:first-child {
                  text-align: left;
                  span {
                    padding-left: 10px;
                    justify-content: flex-start;
                    padding-right: 56px;
                  }
                }
                &:last-child {
                  span {
                    color: #e22a6f;
                  }
                }
                img {
                  float: left;
                }
                span {
                  margin-top: 10px;
                  font-family: 'Roboto';
                  font-size: 14px;
                  font-weight: normal;
                  font-style: normal;
                  font-stretch: normal;
                  line-height: 1.57;
                  letter-spacing: normal;
                  color: #000000;
                  display: flex;
                  justify-content: center;
                }
                &.padding-bot {
                  padding-bottom: 10px;
                }
              }
            }
            tr:last-child {
              border-bottom: none;
            }
          }
        }
      }
    }
  }
}

.right-container  {
  width: 100%;
  margin-left: 15px;
  padding: 30px 40px 35px 30px;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
  &__title {
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.11;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    margin-bottom: 24px;
  }
  &__block {
    .block {
      &__top {
        display: flex;
        align-items: center;
      }
      &__logo {
        width: 40px;
        height: 40px;
        background-image: linear-gradient(to right, #e22a6f, #fe6666);
        border-radius: 50%;
        margin-right: 10px;
        position: relative;
        img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
      &__title {
        font-family: 'Roboto';
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.57;
        letter-spacing: normal;
        text-align: left;
        color: #000000;
        flex-grow: 2;
      }
      &__data {
        font-family: 'Roboto';
        font-size: 12px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.33;
        letter-spacing: normal;
        text-align: left;
        color: #959595;
      }
      &__content {
        padding: 10px 0;
        display: flex;
      }
      &__line {
        min-width: 40px;
        width: 40px;
        display: flex;
        justify-content: center;
        .line {
          width: 1px;
          height: 100%;
          background-color: #E6E6E6;
        }
      }
      &__text {
        display: flex;
        align-items: center;
        &_align_false {
          align-items: normal;
        }
      }
      &__img {
        padding-left: 15px;
      }
      &__right {
        padding-left: 15px;
        .right__title {
          font-family: 'Roboto';
          font-size: 12px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.33;
          letter-spacing: normal;
          text-align: left;
          color: #000000;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          margin-bottom: 4px;
        }
        .right__price {
          font-family: 'Roboto';
          font-size: 12px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.33;
          letter-spacing: normal;
          text-align: left;
          color: #959595;
        }
      }
      //Стилі для елементу котрий містить тільки текст
      &__text-content {
        padding-left: 10px;
        .text-content {
          &__title {
            font-family: 'Roboto';
            font-size: 12px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: left;
            color: #000000;
            margin-bottom: 10px;
          }
          &__star {
            margin-bottom: 15px;
          }
          &__sub-title {
            font-family: 'Roboto';
            font-size: 12px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.33;
            letter-spacing: normal;
            text-align: left;
            color: #959595;
            //Якщо є кнопка read
            &_overflov_true {
              height: 44px;
              overflow: hidden;
              text-overflow: ellipsis;
            }
            &_read_true {
              a {
                text-decoration: none;
                font-family: 'Roboto';
                font-size: 12px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.33;
                letter-spacing: normal;
                text-align: left;
                color: #000000;
                margin-top: 5px;
              }
            }
          }
        }
      }
      //Стилі для елементу з графіком
      .text__img {
        margin-left: 10px;
        background-color: #fcfcfc;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
        padding: 5px;
      }
    }
  }
}
//media
@media (max-width: 1360px) and (min-width: 1200px){
  .corn {
    .left-container{
      min-width: auto;
      width: 770px;
      .top-wrapper__item {
        &:nth-child(2) {
          margin: 0 15px;
        }
      }
    }
  }
}
@media (max-width: 1999px) and (min-width: 1131px) {
  .corn {
    .left-container {
      width: 750px;
      .top-wrapper__item {
        &:nth-child(2) {
          margin: 0 15px;
        }
      }
      .bottom__left {
        .canvas {
          max-width: 450px;
        }
      }
    }
  }
}
@media (max-width: 1130px) {
  .corn {
    flex-wrap: wrap;
  }
}
</style>
