<template>
  <div id="app">
    <div
      class="left-menu"
      :class="{showBlock: leftMenu}"
    >
      <div class="left-menu__logo">
        <span>MyAdmin</span>
      </div>
      <div class="left-menu__block">
        <div class="left-menu__list">
          <div class="left-menu__list-element left-menu__list-element_drop_true">
            <div
              class="left-menu__wrapper left-menu__wrapper_drop"
              :class="{'left-menu__wrapper_active_true': hide}"
              @click="drop"
            >
              <a href="#">
                <font-awesome-icon icon="signal" class="awesome-icon"/>Dashboards
              </a>
            </div>
            <vue-slide-up-down :active="hide">
              <ul class="element-drop">
              <li class="element-drop__item">

                <a href="#">
                  Dashboard 1
                </a>
              </li>
              <li class="element-drop__item">
                <a href="#">
                  Dashboard 2
                </a>
              </li>
              <li class="element-drop__item">
                <a href="#">
                  Dashboard 3
                </a>
              </li>
              <li class="element-drop__item">
                <a href="#">
                  Dashboard 4
                </a>
              </li>
              <li class="element-drop__item">
                <a href="#">
                  Dashboard 5
                </a>
              </li>
            </ul>
            </vue-slide-up-down>
          </div>
          <div class="left-menu__list-element">
            <div class="left-menu__wrapper left-menu__wrapper_mail">
              <a href="#">
                <font-awesome-icon icon="envelope" class="awesome-icon"/> Mailbox
              </a>
            </div>
          </div>
          <div class="left-menu__list-element left-menu__wrapper_message">
            <div class="left-menu__wrapper">
              <a href="#">
                <font-awesome-icon icon="comment" class="awesome-icon"/>Messages
              </a>
            </div>
          </div>
          <div class="left-menu__list-element">
            <div
              class="left-menu__wrapper left-menu__wrapper_drop"
              :class="{'left-menu__wrapper_active_true': userHide}"
              @click="drop2"
            >
              <a href="#">
                <font-awesome-icon icon="user" class="awesome-icon"/>Users
              </a>
            </div>
            <vue-slide-up-down :active="userHide">
              <ul class="element-drop">
              <li class="element-drop__item">

                <a href="#">
                  User 1
                </a>
              </li>
              <li class="element-drop__item">
                <a href="#">
                  User 2
                </a>
              </li>
              <li class="element-drop__item">
                <a href="#">
                  User 3
                </a>
              </li>
            </ul>
            </vue-slide-up-down>
          </div>
          <div class="left-menu__list-element left-menu__list-element_top">
            <div
              class="left-menu__wrapper left-menu__wrapper_drop"
              :class="{'left-menu__wrapper_active_true': uiHide}"
              @click="drop3"
            >
              <a href="#">
                <font-awesome-icon icon="suitcase" class="awesome-icon"/>UI Elements
              </a>
            </div>
            <vue-slide-up-down :active="uiHide">
              <ul class="element-drop">
              <li class="element-drop__item">

                <a href="#">
                  Element 1
                </a>
              </li>
              <li class="element-drop__item">
                <a href="#">
                  Element 2
                </a>
              </li>
              <li class="element-drop__item">
                <a href="#">
                  Element 3
                </a>
              </li>
            </ul>
            </vue-slide-up-down>
          </div>
          <div class="left-menu__list-element left-menu__list-element_bottom">
            <div class="left-menu__wrapper">
              <a href="#">
                <font-awesome-icon icon="cog" class="awesome-icon"/>  Settings
              </a>
            </div>
          </div>
          <div class="left-menu__list-element">
            <div class="left-menu__wrapper">
              <a href="#">
                <font-awesome-icon icon="life-ring" class="awesome-icon"/>Support
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="right-block">
      <header class="header">
        <div class="header__wrapper">
          <div
            class="header__drop"
            @click="dropMenu"
          >
            <span></span>
            <span></span>
            <span></span>
          </div>
          <div class="header__search">
            <img src="./assets/search.jpg" alt="">
            <input type="text" placeholder="Type for search…">
          </div>
          <div class="header__user">
            <div class="header__spov">
              <img src="./assets/spo.png" alt="">
            </div>
            <div class="header__logo-user">
              <img src="https://via.placeholder.com/50x50" alt="">
            </div>
          </div>
        </div>
      </header>
      <section class="content">
        <div class="content__wrapper">
          <router-view></router-view>
        </div>
      </section>
    </div>
  </div>
</template>

<script>
export default {
  data: () => ({
    hide: false,
    userHide: false,
    uiHide: false,
    leftMenu: false
  }),
  methods: {
    drop () {
      this.hide = !this.hide
    },
    drop2 () {
      this.userHide = !this.userHide
    },
    drop3 () {
      this.uiHide = !this.uiHide
    },
    dropMenu () {
      this.leftMenu = !this.leftMenu
    }
  }
}
</script>

<style lang="scss">
  @import url('https://fonts.googleapis.com/css?family=Montserrat');
  @import url('https://fonts.googleapis.com/css?family=Roboto');
  html, body, #app {
    height: 100%;
  }
  #app {
    width: 100%;
    display: flex;
    overflow-x: hidden;
  }
  //Стилі для лівого меню
  .left-menu {
    background-color: #ffffff;
    box-shadow: 2px 0 4px 0 rgba(0, 0, 0, 0.05);
    font-family: 'Montserrat', sans-serif;
    max-width: 250px;
    height: 100%;
    //Style logo
    &__logo {
      padding: 22px 88px 28px 62px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.5);
      span {
        font-family: Montserrat;
        font-size: 20px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #000000;
        position: relative;
        &::before {
          content: '';
          width: 20px;
          height: 20px;
          border-style: solid;
          border-width: 3px;
          border-color: #e22a6f;
          border-radius: 50%;
          position: absolute;
          top: 50%;
          left: -30px;
          transform: translateY(-50%);
        }
      }
    }
    &__block {
      padding-top: 28px;
    }
    &__wrapper {
      padding: 12px 0 12px 60px;
      position: relative;
      //Якщо елемент списку має випадаючий підсписок
      &_drop {
        &::after {
          content: '';
          background-image: url("./assets/down-arrow.png");
          width: 16px;
          height: 16px;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 20px;
        }
      }
      //Коли підсписок відкритий
      &_active_true {
        background-image: linear-gradient(to right, #e22a6f, #fe6666);
        a {
          color: #ffffff !important;
        }
        //Зміна стрілки
        &.left-menu__wrapper_drop {
          &::after {
            background-image: url("./assets/down-arrow-white.png");
          }
        }
      }
      //Стилі для іконок
      .awesome-icon {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 30px;
      }
    }
    //Стилі списку
    &__list {
      &-element {
        a {
          text-decoration: none;
          font-family: 'Roboto', sans-serif;
          font-size: 16px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          text-align: left;
          color: #000000;
        }
        &_drop_true {
          position: relative;
          &::after {
            content: '';
            width: 8px;
            height: 4px;

            position: absolute;
            top: 50%;
            left: 100px;
          }
        }
        &_top {
          margin-bottom: 20px;
          padding-bottom: 25px;
          border-bottom: 1px solid rgba(0, 0, 0, 0.5);
        }
        //Стилі для підсписку
        .element-drop {
          padding-left: 60px;
          li {
            padding: 10px 0;
            a {
              font-family: Roboto;
              font-size: 14px;
              font-weight: normal;
              font-style: normal;
              font-stretch: normal;
              line-height: normal;
              letter-spacing: normal;
              text-align: left;
              color: #000000;
              &:hover {
                color: #eb3d6c;
              }
            }
          }
        }
      }
    }
  }
  //Style big right block
  .right-block {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .showBlock {
    display: block !important;
  }
  //Стилі для шапки сайту
  .header {
    width: 100%;
    &__wrapper {
      padding: 11px 40px;
      background-color: #ffffff;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
      display: flex;
      align-items: center;
    }
    &__drop {
      width: 30px;
      height: 20px;
      display: none;
      flex-direction: column;
      justify-content: space-between;
      margin-right: 20px;
      span {
        display: block;
        width: 100%;
        height: 2px;
        background-color: black;
      }
    }
    &__search {
      flex-grow: 2;
      padding: 5px 0;
      position: relative;
      input {
        max-width: 445px;
        width: 100%;
        border-radius: 5px;
        border: solid 1px #EAEAEA;
        padding: 12px 45px;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #111111;
      }
      img {
        width: 13px;
        height: 13px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 20px;
        z-index: 99;
      }
    }
    &__user {
      display: flex;
    }
    &__spov {
      margin-right: 30px;
      display: flex;
      align-items: center;
      position: relative;
      cursor: pointer;
      &::after {
        content: '';
        width: 4px;
        height: 4px;
        background-image: linear-gradient(to right, #e22a6f, #fe6666);
        border-radius: 50%;
        position: absolute;
        top: 12px;
        right: 1px;
      }
      img {
        width: 15px;
        height: 15px;
      }
    }
    &__logo-user {
      position: relative;
      cursor: pointer;
      &::after {
        content: '';
        width: 8px;
        height: 8px;
        background-color: #50bd35;
        border: solid 1.5px #ffffff;
        border-radius: 50%;
        position: absolute;
        top: 3px;
        right: 0;
      }
      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
      }
    }
  }
  //Стилі для загального контейнеру котрий містить контент
  .content {
    background-color: #F2F5F8;
    width: 100%;
    &__wrapper {
      padding: 40px 0 0 40px;
      .corn {
        display: flex;
      }
    }
  }
  //media
  @media (max-width: 1360px) {
    .left-menu {
      display: none;
    }
    .header__drop {
      display: flex;
    }
  }
</style>
